body {
  padding-top: 60px;
  position: relative;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
nav {
	margin-bottom: 0px !important;
	font-size: 0.9em;

  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-radius: 0px;

	li {
		height: 60px;
	}
}
.lead {
	font-size: 1.2em;
	line-height: 1.4;
}
p {
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.063px;
	&.pad-and-border {
		padding: 10px;
		border: 1px solid #191995;
	}
}

#content {
	padding-top: 25px;
	&.index {
		padding-top: 10px;
	}
	padding-bottom: 20px;

	img {
		max-width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
	img.person {
		margin-top: 10px;
	}
	.row.padded {
		margin-bottom: 20px;
	}
	.no-bottom-margin {
		margin-bottom: 0px !important;
	}
}

.h1, .h2, .h3, .h4, .h5 {
	margin-top: 0px;
	margin-bottom: 0px;
}


#sidebar {
  top: 100px;
  bottom: 0;
  overflow-y: auto;
  background-color: white;
  z-index: 1;
}
#low-sidebar {
	top: 110px;
	bottom: 0;
  overflow-y: auto;
  background-color: white;
  z-index: 1;
}
.side-headings h1, .side-headings .h1, .side-headings h2, .side-headings .h2,
.side-headings h3, .side-headings .h3, .side-headings h4, .side-headings .h4,
.side-headings h5, .side-headings .h5 {
	font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.side-headings h1, .side-headings .h1 {
	font-size: 28px;
	line-height: 35px;
	font-weight: bolder;
	margin: 14px auto;
}
.side-headings h2, .side-headings .h2 {
	font-size: 22px;
	line-height: 27px;
	margin: 10px auto;
}
.side-headings h3, .side-headings .h3 {
	font-size: 18px;
	line-height: 22px;
	margin: 10px auto;
}
.side-headings h4, .side-headings .h4 {
	font-size: 14px;
	line-height: 17px;
	margin: 8px auto;
}

.blue-sidebar .nav>li>a {
  color: #222;
  border-left: 2px solid transparent;
  padding: 5px 10px;
}
.blue-sidebar .nav>.active>a,
.blue-sidebar .nav>li>a:hover,
.blue-sidebar .nav>li>a:focus {
  text-decoration: none;
  text-shadow: 1px 0px 0px;
  background-color: transparent;
}
.blue-sidebar .nav>.active>a,
.blue-sidebar .nav>li>a:focus {
  color: #191995 !important;
  border-left-color: #191995 !important;
}
.blue-sidebar .nav>li>a:hover {
  border-left-color: #222;
  color: #222;
}
a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}
a.footnote {
  top: -60px;
}
ul.dash-list {
  margin-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 1.3;
  display: inline;
}
.dash-list > li {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
}
.dash-list > li:after {
  content:  " // ";
}
.dash-list > li:last-of-type:after {
  content: none;
}
a.external:after {
  font-family: "Glyphicons Halflings";
  font-size: 0.7em;
  margin-left: 0.3em;
  content: "\e164";
}
.fixed {
  position: fixed;
}
.fixed-xs {
  position: fixed;
}
.text-center-xs {
  text-align: center;
}
.fixed-sm {
  position: relative;
}
.imageblock img {
  max-width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .fixed-sm {
    position: fixed;
  }
  .text-center-xs {
    text-align: inherit;
  }
}

@media (min-width: 992px) {
  .fixed-md {
    position: fixed;
  }
  .fixed-md-3 {
    position: fixed;
		width: 212px;
  }
  .fixed-md-4 {
    position: fixed;
		width: 323px;
  }
  #person {
    min-height: 500px;
  }
}

@media (min-width: 1200px) {
  .fixed-lg {
    position: fixed;
  }
  #person {
    min-height: 500px;
  }
}
.imageblock {
  margin-bottom: 10px;
}
.imageblock.hascaption {
  border: 1px solid DarkGrey;
}
.imageblock .title {
  padding: 10px 0px;
}
.tableblock td {
  padding: 0px 5px;
}
.tableblock th {
  padding: 0px 5px;
}
table.tableblock {
  width: 100%;
}
table {
  margin-bottom: 10px;
}
.tableblock .halign-right {
  text-align: right;
}
.tableblock .halign-center {
  text-align: center;
}
p.tableblock {
  margin: 0;
}
div#post_contents {
  margin-bottom: 20px;
}
a.nodecoration {
  color: inherit;
}
a.nodecoration:hover {
  text-decoration: none;
}
a.nodecoration:focus {
  text-decoration: none;
}
li.menu-selected a {
  font-weight: bolder;
  color: #191995;
}
.badge.footnote {
  font-size: 0.5em;
  background-color: DarkGrey;
  color: white;
  vertical-align: top;
  padding: 2px 5px;
  line-height: inherit;
}
.default-popover + .popover.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.default-popover + .popover > .popover-inner {
  background-color: white;
  text-align: left;
  color: inherit;
  border: 1px solid LightGrey;
}
.default-popover + .popover > .popover-arrow {
  border-bottom-color: LightGrey;
}
.popover-content {
	font-size: 85%;
}
.nonopaque {
  background-color: white;
  z-index: 1;
}
div.bibliography {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid DarkGrey;
}
div.posts {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
div.posts .post-title {
  border-bottom: 1px solid DarkGrey;
  margin-bottom: 5px;
}
div.posts .post-author {
  margin-bottom: 20px;
}
.pulledquote {
  display: block;
  float: right;
  padding: 0 0 0 10px;
  margin: 0 0 10px 10px;
  width: 200px;
  font-size: 1.3em;
  line-height: 1.2em;
  text-align: right;
  border-left: 3px solid DarkGrey;
}
#twitter-widget-0 {
  vertical-align: bottom;
}
@media (min-width:960px) {
  li.menu-selected {
    border-bottom: 2px solid #191995;
  }
}
div#content {
  margin-top: 10px;
}
div#content.thin {
  margin-top: 5px;
}
hr.underline {
  margin-top:0px;
  margin-bottom:5px;
}
#post_contents h2:first-of-type {
  margin-top:5px;
  margin-bottom:5px;
}
#posts-index div.h3:first-of-type {
  margin-top:10.5px;
  margin-bottom:10.5px;
}
td {
  padding: 5px;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.flipped {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
code {
	padding: inherit;
}
